.rcpl-form-content {
    visibility: hidden;
    position: relative;
    padding: 10px 20px;
}
.rcpl-page-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    z-index: 1080; 
}
span.select2-container {
    width: 55% !important;
    position: absolute;
    left: 12%;
    /*top: 8px;*/
}
.nav-tab-wrapper {
    padding-top: 30px;
}
.rcpl-setting-tab-wrapper {
    padding: 14px;
    background: #fafafa;
    font-size: 15px;
    height: 20px;
    margin-right: 2%;
    border: 1px solid #cfd2d5c4;
    border-left: 0;
    border-right: 0;
    color: black;
    margin-top: 25px;
}
.rcpl-form-wrap {
    clear: both;
    position: relative;
}
.rcpl-wrap {
    background: #ffffff;
    padding: 0 0 20px 0px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    min-width: 255px;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0);
    background: #fff;
}
.rcpl-wrap .rcpl-wrapper {
    padding: 15px 0;
    margin-bottom: 20px;
    position: relative;
}
.rcpl-wrap .rcpl-wrapper label {
    font-weight: 600;
    position: relative;
    top: 10px;
}
.rcpl-wrap input[type="button"] {
    margin-top: 26px;
}
.rcpl-wrap .rcpl-page-heading {
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    border-bottom: 1px solid #c3c4c7;
}
.select2-selection--single {
    min-height: 45px !important;
}
.select2-selection--single .select2-selection__rendered {
    padding-top: 6px !important;
}
.rcpl-setting-heading {
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
}
.rcpl-rule-list {
    width: 50% !important;
    position: absolute;
    left: 12%;
    top: 54%;
}
.rcpl-rule-list span {
    padding-right: 30px;
}
.rcpl-window-loader-wrap {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}
/**  Create animated loader **/
.rcpl-spiner-loader {
    position: fixed;
    top: 50%;
    left: 50%;
}
/** End enimated loader **/
.rcpl-validate-msg {
    position: absolute;
    left: 12%;
    top: 120%;
    display: block;
    color: #e13c3c;
    font-weight: 600;
}
.rcpl-success-message,
.rcpl-success-done {
    position: absolute;
    left: 46%;
    top: 50%;
    transform: translate( -50%, -50% );
    display: none;
}
.rcpl-success-done {
    color: #008000;
}
.rcpl-success-done .rcpl-done-text {
    position: relative;
    left: 6px;
    vertical-align: bottom;
    font-size: 20px;
}
.rcpl-success-done .dashicons-yes-alt {
    font-size: 26px;
    vertical-align: text-bottom;
}
.rcpl-success-message img {
    width: 28px;
}
.rcpl-success-message .rcpl-loading-wrap {
    color: #008000;
    font-size: 20px;
    vertical-align: super;
    position: relative;
    margin-left: 5px;
    display: inline;
}
.rcpl-wrapper .rcpl-left {
    margin-left: 20px;
}

/** enimated dot **/
.dot-pulse {
    position: absolute;
    top: 50%;
    margin-left: 106%;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #999999;
    color: #999999;
    box-shadow: 9999px 0 0 -5px #999999;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #999999;
  color: #999999;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #999999;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #999999;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}
@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #999999;
  }
  30% {
    box-shadow: 9984px 0 0 2px #999999;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #999999;
  }
}
@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #999999;
  }
  30% {
    box-shadow: 9999px 0 0 2px #999999;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #999999;
  }
}
@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #999999;
  }
  30% {
    box-shadow: 10014px 0 0 2px #999999;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #999999;
  }
}
/*** end enimated dot ***/

/* Tabs desing css  */
body:not(.block-editor-page) #rcpl-main-wrap {
    box-sizing: border-box;
    margin-left: -20px;
    padding: 8px 20px;
    width: calc(100% + 20px);
    z-index: 9999;
}

#rcpl-main-wrap {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    display: block!important;
    position: -webkit-sticky;
    position: sticky;
    top: 32px;
    width: 100%;
    z-index: 99990;
}
.rcpl-global-header {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
.ld-back-link {
    flex-basis: 100%;
    text-decoration: none;
}
.rcpl-global-header h1 {
    color: #23282d;
    display: block;
    line-height: 1.4em;
    font-weight: 600;
    font-size: 2em;
    margin: 7px;
}
.rcpl-tab-buttons {
    border-top: 1px solid #e2e4e7;
    flex: 1 0 100%;
    position: relative;
    padding: 10px 0 0 0;
}
.rcpl-global-header a.button.is-primary, 
.rcpl-global-header button.button.is-primary {
    box-shadow: inset 0 4px 0 0 #fff,0 4px 0 0 #007cba!important;
    color: #555;
}
.rcpl-tab-buttons a.button, 
.rcpl-tab-buttons button.button {
    margin-right: 15px;
}
.rcpl-global-header a.button, 
.rcpl-global-header button.button {
    background-color: transparent!important;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    color: #007cba;
    font-weight: 700;
    text-shadow: none!important;
}
.rcpl-tab-buttons a  {
    outline-style: none !important;
    box-shadow: none !important;
}
/* End tabs desing css  */

.select2-container .select2-search--inline .select2-search__field {
    width: 200px !important;
    max-width: 200px !important;
}
.rcpl-user-role-hidden-items {
    display: none;
}
.rcpl-reset-note {
    font-weight: 600;
    color: #e34949;
    margin-top: 50px;
} 
.jconfirm-holder {
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: unset !important;
}
.rcpl-disabled {
    pointer-events: none;
    opacity: 0.4;
}
.rcpl-data-table {
    padding: 0 30px 0 15px;
}